@media (max-width: 1024px) {
  .featured-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .featured-card-container {
    grid-template-columns: 1fr;
  }
}
